{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <h1>{{ title }}</h1>
    {% include "app/search.html" %}
    <div class="accordion accordion-flush mt-3" id="accordionFlush">
        {% for category, articles in articles_by_category.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false"
                            aria-controls="flush-collapse{{ forloop.counter }}">
                        {{ category }}
                    </button>
                </h2>
            </div>
            <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlush">
                <div class="accordion-body card">
                    {% include "app/articles/article_widget.html" %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}